<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventO</title>
    <!-- <link rel="stylesheet" href="/views/output.css"> -->
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />


    <script src='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
    <%- include('../partials/navbar') %>
    <div>
        <%- include('../partials/flash') %>
        <%- body %>
    </div> 
        <%- include('../partials/footer') %>
</body>
</html> 