<% layout('layouts/boilerplate') %>
<div>
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">About Us</h2>
        <div class="mb-8">
            <h2 class="text-2xl font-bold">"I don't know."</h2>
            <h2 class="text-2xl font-bold">"What do you want to do?"</h2>
        </div>
        <div class="mb-8">
            <h2 class="text-2xl font-bold mb-2">And that's where EventO comes in.</h2>
            <p class="text-xl">We're experience finders and enablers of fun, with tickets to everything from the latest in live sports events, to music festivals and concerts, standup comedy and open mic shows, food and shopping festivals, theatre, workshops and then some.</p>
        </div>
        <div class="mb-8">
            <h2 class="text-2xl font-bold mb-2">Why do we love it?</h2>
            <p class="text-xl">We’re big believers in the transformational power of shared experiences, and the ability of creative arts and technology to drive change in ourselves and our communities. Outside of figuring out when your friend is free, we make sure we get you the experiences you love, or will fall in love with, and get you there fast.</p>
        </div>
        <div class="mb-8">
            <h2 class="text-2xl font-bold mb-2">Why fast?</h2>
            <h2 class="text-xl">Because nobody should mess with your weekend.</h2>
        </div>
        <h2 class="text-xl italic">Let's hang out!</h2>
</div>
